/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #34DFC3; color: #fff; text-shadow: none; }
::selection { background: #34DFC3; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
ul { list-style:none; margin:0; padding:0; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* ===== Primary Styles ========================================================
   Author: Francis Tseng
	 URL: supermedes.com
   ========================================================================== */

body {
	font-family:'prenton', 'Gibson', Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	color:#fff;
	background:#101010;
	min-width:320px;

	/* webkit fix */
	-webkit-font-smoothing: subpixel-antialiased;
	text-rendering: optimizeLegibility;
}

header,
section,
footer {
	width:100%;
	max-width:1200px;
	margin:0 auto;
	text-align:center;
	padding:2em;
}

#main {
	width:100%;
	overflow:hidden;
}

footer a,
footer a:visited {
	background:#11A38B;
	display:inline-block;
	padding:0.4em 0.3em 0.2em 0.3em;

	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
footer a:hover {
	background:#2A66FF;
}

a, a:visited, a:hover {
	color:#fff;
	text-decoration:none;
}

h1 {
	font-family: "brandon-grotesque", "Brandon Grotesque", "sans-serif";
	margin-bottom:0;
	font-size:1.6em;
}
h3 {
	font-family: "brandon-grotesque", "Brandon Grotesque", "sans-serif";
	text-transform:uppercase;
	font-size:1.4em;
	margin-bottom:0;
}
h4 {
	font-style:italic;
	font-weight:normal;
	font-family: 'Georgia';
	font-size:0.75em;
	margin:0.4em 0 1em 0;
	color:rgba(255,255,255,0.8);
}

.loading {
	position:fixed;
	z-index:10000;
	padding:2em 1.5em 1.7em 1.5em;
	background:rgba(0,0,0,0.8);
	display:none;

	-webkit-border-radius:10em;
	-moz-border-radius:10em;
	-o-border-radius:10em;
	border-radius:10em;
}

/*
 *============================================================================================================
 * Header																																																Header
 *============================================================================================================
 */
header {
	padding:3em 2em 4em 2em;
	text-align:center;
    background:#DDF1FE;
	max-width:none;
    color:#111;
}

.pillar {
	position:absolute;
	top:-3px;
	width:70px;
	height:409px;
	background-image:url('/img/portfolio/pillar.png');
	-webkit-background-size:140px 409px;
	-moz-background-size:140px 409px;
	-o-background-size:140px 409px;
	background-size:140px 409px;
}
	.pillar-left {
		left:0;
		-webkit-background-position:70px 0;
		-moz-background-position:70px 0;
		-o-background-position:70px 0;
		background-position:70px 0;
	}
	.pillar-right {
		right:0;
	}

.sword {
	display:block;
	margin:0 auto;
	width:120px;
}

.subtitle {
	font-family:'Gibson';
	font-size:0.8em;
	text-transform:uppercase;
	margin:1em 0 0 0;
	display:block;
}
.blurb {
	margin:1em 0 2em 0;
	line-height:2;
	font-size:0.6em;
	text-transform:uppercase;
}
	.blurb a {
		color:#111;
		border-bottom:1px dotted #111;

		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
		.blurb a:hover {
			text-decoration:none;
			padding-left:2em;
			position:relative;
		}
		.blurb a:hover:before {
			content:'>';
			position:absolute;
			border-bottom:none;
			left:0;
		}


/*
 *============================================================================================================
 * Social Media																																										Social Media
 *============================================================================================================
 */

.socialmedia { position:relative; margin:1em 0 0 0; }
.socialmedia li a { display:block; width:100%; height:100%; }
.socialmedia li {
	display:inline-block;
	margin:10px;
	width:24px;
	height:24px;
	text-indent:-9999em;
	background:url('/img/icons/socialmedia.png');

	opacity:1;
	filter:alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity:1;
	-khtml-opacity:1;

	-webkit-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}
		.socialmedia li:hover {
			opacity:1;
			filter:alpha(opacity=100);
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			-moz-opacity:1.0;
			-khtml-opacity:1.0;
		}
		.socialmedia .twitter { background-position:0 0; }
		.socialmedia .linkedin { background-position:-24px 0; }
		.socialmedia .github { background-position:-48px 0; }
		.socialmedia .quora { background-position:-72px 0; }
		.socialmedia .dribbble { background-position:-96px 0; }

		@media
				only screen and (-webkit-min-device-pixel-ratio : 1.5),
				only screen and (min-device-pixel-ratio : 3/2) {
					.socialmedia li {
						background-image:url('/img/icons/socialmedia@4.png');
							-webkit-background-size:120px 24px;
							-moz-background-size:120px 24px;
							-o-background-size:120px 24px;
							background-size:120px 24px;
					}
			}


.tooltip {
		font-family: 'Gibson', Helvetica, Arial, sans-serif;
		text-transform:uppercase;
		font-weight:bold;
		text-align:center;
		text-indent:0em;
		position:absolute;
		right:0;
		top:auto;
		width:100%;
		margin-top:0.5em;
		visibility:hidden;

		opacity:0;
		filter:alpha(opacity=0);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		-moz-opacity:0.0;
		-khtml-opacity:0.0;

		-webkit-transition: opacity 0.2s ease-in-out;
		-o-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
		transition: opacity 0.2s ease-in-out;
}
	.socialmedia li:hover .tooltip { opacity:1; visibility:visible; }

/*
 *============================================================================================================
 * Sections																																														Sections
 *============================================================================================================
 */

#projects {
	background:#f8f8f8;
}
	#projects h3,
	#projects h4 {
		color:#111;
	}

#work {
	background:#1B1F2C;
}

h5 {
	display:block;
	text-transform:uppercase;
	font-weight:100;
	font-size:1.2em;
	margin:0em 0;
}
h6 {
	font-weight:normal;
	font-family: 'Georgia';
	font-style:italic;
	color:rgba(255,255,255,0.8);
	margin:0.5em 0 0 0;
	text-transform: lowercase;
}
.projects p {
	text-align:justify;
	font-size:0.8em;
	font-weight:normal;
}
.projects li {
	display:inline-block;
	vertical-align:top;
	/*background:rgba(0,0,0,0.1) !important;*/
	text-align:center;
	padding:1em;
	margin-bottom:6em;
	width:20%;
	margin:2% 4%;

	cursor:pointer;

	-moz-border-radius:1em;
	-webkit-border-radius:1em;
	border-radius:1em;

	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	box-shadow:3px 3px rgba(0,0,0,0.1);
}
.projects a {
	display:block;
	top:0;
	left:0;
	z-index:100;
}
.projects li:hover {
	/*background:rgba(0,0,0,0.2) !important;*/
}
.projects li .icon {
	width:70px;
	height:70px;
	margin:2.2em 0 3.2em 0;
}
	.svg .projects li .icon {
		background-image:none;
	}
	.no-svg .projects li .icon {
			width:59px;
			height:59px;
		-webkit-background-size:1440px 60px;
		-moz-background-size:1440px 60px;
		-o-background-size:1440px 60px;
		background-size:1440px 60px;

	}
		@media
			only screen and (-webkit-min-device-pixel-ratio : 1.5),
			only screen and (min-device-pixel-ratio : 3/2) {
				.no-svg .projects li .icon {
					background-image:url('/img/icons/icons@2.png');
				}
		}

/*
 *============================================================================================================
 * Pages 																																																 Pages
 *============================================================================================================
 */

.page {
	top:0;
	width:100%;
	min-height:100%;
	z-index:1000;
	font-size:0.9em;
	background:#222;
	position:absolute;
}

.back, .back-to-main {
	width:40px;
	height:35px;
	padding:3em;

	text-indent:-14em;
	line-height:0;

	-moz-border-radius:0 0 10em 0;
	-webkit-border-radius:0 0 10em 0;
	-o-border-radius:0 0 10em 0;
	border-radius:0 0 10em 0;

	cursor:pointer;
	opacity:0.8;

	position:absolute;
	z-index:1000;
	top:0;
	left:0;

	background:rgba(0,0,0,0.4) url('/img/icons/back.png') no-repeat;
		background-position:30% 40%;
		-webkit-background-size:40px 35px;
		-moz-background-size:40px 35px;
		-o-background-size:40px 35px;
		background-size:40px 35px;

	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
	.back:hover,
	.back-to-main:hover {
		opacity:1;
		width:20em;	
		text-indent:0em;
		background-position:84% 40%;
	}
	.back-to-main {
		z-index:10000;
	}
		.back-to-main a,
		.back-to-main a:visited {
			display:block;
			position:absolute;
			height:100%;
			width:100%;
			top:0;
			left:0;
			padding:2.8em;
		}

.icon {
	width:100px;
	height:100px;
	
	display:inline-block;
	background-image:url('/img/icons/icons.png');
	background-repeat:no-repeat;
}
		@media
			only screen and (-webkit-min-device-pixel-ratio : 1.5),
			only screen and (min-device-pixel-ratio : 3/2) {
				.icon {
					background-image:url('/img/icons/icons@2.png');
						-webkit-background-size:2400px 100px;
						-moz-background-size:2400px 100px;
						-o-background-size:2400px 100px;
						background-size:2400px 100px;
				}
		}

.detail {
	overflow:hidden;
	max-width:1000px;
	width:100%;
	margin:0 auto;
	position:relative;
	padding:0 4em;
}

.info {
	width:200px;
	padding:4em 4em 4em 0em;
	float:left;
	position:fixed;
	z-index:100;
}

.stage {
	padding:0 0 0 200px;
	text-align:center;
	float:left;
	width:800px;
	height:100%;
	position:fixed;
}
	.stage img {
		max-width:100%;
	}
	.stage a {
		display:block;
		position:relative;
	}
	.stage a:hover:after {
		content:"";
		width:20%;
		height:40%;

		position:absolute;
		top:30%;
		left:40%;

		-webkit-border-radius:10em;
		-moz-border-radius:10em;
		-o-border-radius:10em;
		border-radius:10em;

		background:rgba(0,0,0,0.8) url('/img/icons/link.png');
			-moz-background-size:50% 50%;
			-webkit-background-size:50% 50%;
			-o-background-size:50% 50%;
			background-size:50% 50%;
			background-repeat:no-repeat;
			background-position:50%;
	}
	figure {
		padding:4em 0;
		position:absolute;
		height:100%;
		width:100%;
		top:0%;
	}

.text h2 {
	font-family: "prenton", "sans-serif";
	font-size:1.4em;
	text-transform:uppercase;
}
	.text p {
		margin-bottom:2em;
	}
	.text a {
		display:inline-block;
		margin-bottom:1em;
		margin-right:1em;
		font-family: 'Georgia', serif;
		font-style:italic;
	}
	.text a:hover { text-decoration: underline; }
	.text a:before {
		content:"";
		width:16px;
		height:16px;
		float:left;
		clear:both;
		margin-right:0.6em;
		margin-bottom:1em;

		background:url('/img/icons/link.png');
			-moz-background-size:16px 16px;
			-webkit-background-size:16px 16px;
			-o-background-size:16px 16px;
			background-size:16px 16px;
	}
	.text a.download:before {
		background:url('/img/icons/download.png');
			-moz-background-size:16px 16px;
			-webkit-background-size:16px 16px;
			-o-background-size:16px 16px;
			background-size:16px 16px;
	}

.fullback {
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:50% 50%;
	background-attachment:fixed;
}
.dot {
	background:url('/img/bgs/dot.gif') fixed;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

.paging {
	text-align:center;
	margin-top:2em;
}
	.up,
	.down {
		width:132px;
		height:70px;
		display:inline-block;
		cursor: pointer;
		background:url('/img/icons/up.png') no-repeat;
			background-position:50%;
			-webkit-background-size:66px 35px;
			-moz-background-size:66px 35px;
			-o-background-size:66px 35px;
			background-size:66px 35px;

		-webkit-transform:scale(0.9,0.9);
		-moz-transform:scale(0.9,0.9);
		-ms-transform:scale(0.9,0.9);
		-o-transform:scale(0.9,0.9);
		transform:scale(0.9,0.9);

		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
		.down {
			background:url('/img/icons/down.png') no-repeat;
				background-position:50%;
				-webkit-background-size:66px 35px;
				-moz-background-size:66px 35px;
				-o-background-size:66px 35px;
				background-size:66px 35px;
		}
		.up:hover,
		.down:hover {
			-webkit-transform:scale(1,1);
			-moz-transform:scale(1,1);
			-ms-transform:scale(1,1);
			-o-transform:scale(1,1);
			transform:scale(1,1);
		}


/*
 *============================================================================================================
 * Projects																																														Projects
 *============================================================================================================
 */

.projects li {
	border-style: solid;
	border-width: 6px;
}

#canvaslab { background:#25CA8A;
						 border-color:  #39D699 #1AB87A #1AB87A #39D699; }
	#canvaslab .icon { background-position:0 0; }
#supersuper { background:#000; }
	li#supersuper { background:#222;
									border-color:  #2A2A2A #181818 #181818 #2A2A2A; }
	#supersuper .icon { background-position:-100px 0;}
	li#supersuper .icon { background-position:-61px 0;}
#goldenages { background-image:url('/img/projects/goldenages/background.jpg'); }
	li#goldenages { background: #D15510;
									border-color: #D86B2E #BE5013 #BE5013 #D86B2E; }
	#goldenages .icon { background-position:-200px 0;}
	li#goldenages .icon { background-position:-121px 0;}
#servethepeople { background:#BE0101;
									border-color: #CC2323 #AA0404 #AA0404 #CC2323; }
	#servethepeople .icon { background-position:-300px 0;}
	li#servethepeople .icon { background-position:-181px 0;}
#deerhaus {
	background:url('/img/bgs/black_scales@2.png');
	-moz-background-size:40px 40px;
	-webkit-background-size:40px 40px;
	background-size:40px 40px;
}
	li#deerhaus { background:#0070FF;
								border-color: #1F7EF7 #036AEE #036AEE #1F7EF7;}
	#deerhaus .icon { background-position:-600px 0;}
	li#deerhaus .icon { background-position:-361px 0; margin-left:15px; }
	.no-svg li#deerhaus .icon { margin-left:0; }
#nito { background:#2c2c37;}
	li#nito { border-color:#3A3A3A #25252E #25252E #3A3A3A; }
	#nito .icon { background-position:-800px 0; }
	li#nito .icon { background-position:-481px 0; }
#topics { background:#CAC2A7;
					border-color:#DBD2B6 #BDB393 #BDB393 #DBD2B6; }
	#topics .icon { background-position:-1100px 0;}
	li#topics .icon { background-position:-661px 0;}

li#smartercookie { background:#DDDD5F;
									 border-color:#E7E771 #CECE52 #CECE52 #E7E771;}
	#smartercookie .icon { background-position:-400px 0; }
	li#smartercookie .icon { background-position:-241px 0; }
li#bowen { background:#FCA1B1;
					 border-color:#FAB7C3 #DF98A5 #DF98A5 #FAB7C3; }
	#bowen .icon { background-position:-500px 0; }
	li#bowen .icon { background-position:-301px 0; }
li#myvr { background:#4343C5;
					border-color:#5F5FD3 #4040AC #4040AC #5F5FD3; }
	#myvr .icon { background-position:-700px 0; }
	li#myvr .icon { background-position:-421px 0; }
#caoker { background:#43a9e4;
					border-color:#56B8F1 #3598D1 #3598D1 #56B8F1; }
	#caoker .icon { background-position:-900px 0; }
	li#caoker .icon { background-position:-541px 0; }
li#posters { background:#068D8D;
						 border-color:#0E9696 #0D8585 #0D8585 #0E9696; }
	#posters .icon { background-position: -1000px 0; }
	li#posters .icon { background-position:-601px 0; }
	#posters figure img { max-width:450px; }
li#albumart { background:#AAA;
							border-color:#BBB #999 #999 #BBB; }
	#albumart .icon { background-position: -1200px 0; }
	li#albumart .icon { background-position:-721px 0; }
	#albumart figure img { max-width:500px; max-height:500px; }
#teeth { background: #EE9C06;
				 border-color: #F5B239 #DD9107 #DD9107 #F5B239; }
	#teeth .icon { background-position:-1300px 0; }
	li#teeth .icon { background-position:-781px 0; }
#pivy { background:#5D51A8;
				border-color:#6A5FB3 #554AA0 #554AA0 #6A5FB3; }
	#pivy .icon { background-position:-1400px 0; }
	li#pivy .icon { background-position:-841px 0; }
li#bicephaly { background:#E79072;
							 border-color:#F0A084 #DA8567 #DA8567 #F0A084; }
	#bicephaly .icon { background-position:-1500px 0; }
	li#bicephaly .icon { background-position:-901px 0; }
li#rzza { background:#812E81;
					border-color:#914391 #772977 #772977 #914391; }
	#rzza .icon { background-position:-1600px 0; }
	li#rzza .icon { background-position:-961px 0; }
li#wikidigest { background:#10C9D1;
								border-color:#2BD8E0 #0CBCC4 #0CBCC4 #2BD8E0; }
	#wikidigest .icon { background-position:-1700px 0; }
	li#wikidigest .icon { background-position:-1021px 0; }
li#stocker { background:#00C467;
								border-color:#05D572 #03B460 #03B460 #05D572; }
	#stocker .icon { background-position:-1800px 0; }
	li#stocker .icon { background-position:-1081px 0; }
li#observer { background:#CD1328;
								border-color:#DF263A #BD0D21 #BD0D21 #DF263A; }
	#observer .icon { background-position:-1900px 0; }
	li#observer .icon { background-position:-1141px 0; }
li#parrott { background:#014E6D;
								border-color:#096185 #024058 #024058 #096185; }
	#parrott .icon { background-position:-2000px 0; }
	li#parrott .icon { background-position:-1201px 0; }
#futora { background:#677074;
								border-color:#777E81 #4A5255 #4A5255 #777E81; }
	#futora .icon { background-position:-2100px 0; }
	li#futora .icon { background-position:-1261px 0; }
li#alreadyalive { background:#1B1B1B;
								border-color:#222222 #151515 #151515 #222222; }
	#alreadyalive .icon { background-position:-2200px 0; }
	li#alreadyalive .icon { background-position:-1321px 0; }
#tor { background:#8D24B6;
								border-color:#A248C5 #791F9C #791F9C #A248C5; }
	#tor .icon { background-position:-2300px 0; }
	li#tor .icon { background-position:-1381px 0; }
    .page#tor { background:#4D4D4D; }


/*
 *============================================================================================================
 * Fonts																																																 Fonts
 *============================================================================================================
 */


/*
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Canada Type
 * License URL: http://www.fontspring.com/fflicense/canada-type
 *
 *
 */

@font-face {
    font-family: 'Gibson';
    src: url('/font/gibson/Gibson-SemiBold-webfont.eot');
    src: url('/font/gibson/Gibson-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/gibson/Gibson-SemiBold-webfont.woff') format('woff'),
         url('/font/gibson/Gibson-SemiBold-webfont.ttf') format('truetype'),
         url('/font/gibson/Gibson-SemiBold-webfont.svg#Gibson') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Gibson';
    src: url('/font/gibson/Gibson-Regular-webfont.eot');
    src: url('/font/gibson/Gibson-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/gibson/Gibson-Regular-webfont.woff') format('woff'),
         url('/font/gibson/Gibson-Regular-webfont.ttf') format('truetype'),
         url('/font/gibson/Gibson-Regular-webfont.svg#Gibson') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    src: url('/font/gibson/Gibson-Light-webfont.eot');
    src: url('/font/gibson/Gibson-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/gibson/Gibson-Light-webfont.woff') format('woff'),
         url('/font/gibson/Gibson-Light-webfont.ttf') format('truetype'),
         url('/font/gibson/Gibson-Light-webfont.svg#Gibson') format('svg');
    font-weight: 100;
    font-style: normal;
}



/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1000px) {
	.projects li {
		width:30%;
	}

	.stage {
		width:100%;
		padding:0;
		height:auto;
		position:relative;
	}
	figure {
		position:static;
		height:auto;
		padding:0 0 8em 0;
	}
	.detail {
		position:absolute;
		height:100%;
		overflow-y:scroll;
	}
		.info {
			width:100%;
			padding:2em 8em;
			position:static;
		}
			.info .icon {
				float:left;
				margin-right:2em;
			}
		.text {
			float:left;
			width:70%;
		}
		.paging {
			display:none;
		}

}

@media only screen and (max-width: 700px) {

	header {
		position:static;
		overflow:hidden;
		max-width:100%;
	}
	#projects {
		margin-top:0;
	}

	.projects li {
		width:60%;
	}

	.detail {
		top:0;
		position:static;
		overflow-y:scroll;
		padding:0;
	}
	.stage {
		padding:0;
	}
	.info {
		position:static;
		text-align:center;
		padding:2em 6em;
	}
		.info .icon {
			float:none;
			margin-right: 0;
		}
	.text {
		width:100%;
		text-align:left;
	}
		.text p {
			text-align:justify;
		}

	figure img {
		max-width:100% !important;
	}

}

@media only screen and (max-width: 480px) {
	.projects li { width:80%; }
}



/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

